{% extends "flights/master.html" %}
{% load static %}

{% block head %} 
{% endblock %}

{% block title %} 
Flight Details 
{% endblock %}

{% block replaceBody %}
  
  <header class="masthead">
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2>COVID-19 CASES IN INDIA</h2>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <ul >
                        <li>Confirmed Cases: <strong>{{ confirmed }}</strong></li>
                        <li>Deaths: <strong>{{ deaths }}</strong></li>
                        <li>Recovered Cases: <strong>{{ recovered }}</strong></li>
                        <li>Active Cases: <strong>{{ active }}</strong></li>
                        <li>Date Updated: <strong>{{ date }}</strong></li>
                        <!-- {{ indiaCases }}
                        {{cases}}
                        {% for i in indiaCases %}
                            <li> {{i}} </li>
                         {% endfor %} -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    </header>
{% endblock %}