{% extends "flights/master.html" %}
{% load static %}

{% block head %} 
{% endblock %}

{% block title %} 
Flight Details 
{% endblock %}

{% block nav %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{% static 'assets/img/navbar-logo.svg' %}" /></a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Hi {{user.first_name }}, Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %} 

{% block replaceBody %}

<header class="masthead">
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Welcome to Flight's Detail Page</h2>
            <h3 class="section-subheading text-muted">Details of Flight No: {{ flights.id }}</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">ORIGIN </h4>
                <p class="text-muted">{{flights.origin.city}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">DESTINATION</h4>
                <p class="text-muted">{{flights.dest.city}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                <h4 class="my-3">PASSENGERS</h4>
                <p class="text-muted">{% for p in passengers %}
                    {{ p }}<br>
                    {% empty %} No Passengers
                    {% endfor %}
                </p>
            </div>
        </div>
            <div class="row text-center">
                <div class="col-md-12">
                     {% if non_passengers %}
                    <h3>Add Passengers:</h3><br>
                    <p class="text-muted">
                        <form action="{% url 'book' flights.id %}" method="post">
                            {% csrf_token %}
                            <select name="passenger">
                                {% for p in non_passengers %}
                                <option value="{{ p.id }}"> {{ p }}</option>
                                {%endfor%}
                            </select>
                            <input type="submit" value="Book Flight"/>
                        </form>
                    </p>
                    {% else %}
                    <p class="text-muted" >
                        <h2>No Passengers to Add.</h2>
                    </p>
                    {%endif%}
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <a href="{% url 'index' %}">
                        BACK TO LIST
                    </a>
                </div>
            </div>
    </div>
</section>
</header>

{% endblock %}